

.mycontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.mainText {
    text-align: center;
    margin-top: 10%;
}

p {
    margin: 5px;
}

.myRadioButtons {
    display: flex;
    justify-content: space-around;
}