<div class="mainText">
    <h1><span class="badge bg-secondary">PI. Aplicación con tu entorno de desarrollo, Framework</span></h1>
</div>

<div class="mycontainer">
    <div class="card text-bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">
            <h2>{{city}}</h2>
            
        </div>
        <div class="card-body">
            <p class="card-text">resumen: {{summary}}</p>
            <p class="card-text">temperatura: {{temperature}} °{{units=='imperial' ? 'F' : 'C'}}</p>
            <p class="card-text">sensación térmica: {{feelsLikeTemp}} °{{units=='imperial' ? 'F' : 'C'}}</p>
            <p class="card-text">presión: {{pressure}} hPa</p>
            <p class="card-text">humedad: {{humidity}} %</p>
        </div>
        <div class="card-footer bg-transparent border-success">
            <form class="myRadioButtons">
                <label class="radio-inline">
                    <input type="radio" (change)="onRadioButtonChange()" name="unitsRadioButtons"
                        [checked]="units=='imperial' ? true : false">°F
                </label>
                <label class="radio-inline">
                    <input type="radio" (change)="onRadioButtonChange()" name="unitsRadioButtons">°C
                </label>

            </form>
        </div>
    </div>
</div>